Package: EasyWork
Version: 0.4.0
Maintainer: KeyGen <KeyGenQt@gmail.com>
Architecture: all
Section: science
Depends: libqt4-dev, xterm
Installed-Size: 1256
Origin: https://github.com/KeyGen/Easy-work/wiki
Description: Easy work Version 0.4.0
 Cross-platform program for teaching the blind method print.
;