/*
 * name_ru: Море
 * name_en: Principal view
 */

QWidget#centralWidget {
  /*background-image: url(../../readyStyleCSS/Principal_view.style/image/background.jpg);*/

    background: qlineargradient(x1:0.5, y1:0, x2:0.5, y2:1, 
				stop:0 blue, 
				stop: 0.50 blue, 
				stop:1 #00ffff);

    border-radius: 15px;
    background-position: top center;
    background-origin: padding;
}


QLabel#showText { 
  
    background: qlineargradient(x1:0, y1:0.5, x2:1, y2:0.5, 
				stop:0 #9C9C9C, 
				stop:0.5 #E8E8E8, 
				stop:1 #9C9C9C);

    border: solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: black;
    font-size: 40px;
    border-width: 2px 0px 2px 2px;
}

QLabel#inputText { 
  
      background: qlineargradient(x1:0, y1:0.5, x2:1, y2:0.5, 
			      stop:0 #464451, 
			      stop:0.5  #9C9C9C, 
			      stop:1 #464451);
    border: solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    font-size: 40px;
    border-width: 2px 2px 2px 0px;
      
}

QProgressBar::chunk {
    background: qlineargradient(x1:0, y1:0.5, x2:1, y2:0.5, stop:0 #464451, stop:1 #9C9C9C);
    border-radius: 9px;
}

QProgressBar {
    background: #E8E8E8;
    color: black;
    font: bold;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}

QMenuBar {
spacing: 20;
min-width: 72px;
min-height: 25px;

background: qlineargradient(x1:0, y1:0.5, x2:1, y2:0.5, 
			    stop:0 #171717, 
			    stop: 0.25 grey, 
			    stop: 0.75 grey, 
			    stop:1 #171717);
}

QMenuBar::item {
    background: qlineargradient(x1:0.5, y1:0, x2:0.5, y2:1, 
				stop:0 #00ffff,
				stop:1 blue);
    border: 1px solid blue;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-width: 1px 1px 0px 1px;
    color: black;
}

QMenuBar::item:pressed {
  background: qlineargradient(x1:0.5, y1:0, x2:0.5, y2:1, 
			  stop:0 #000000,
			  stop:1 blue);
  color: white
}

/* Keyboard */

QWidget#gridWidget {
  
      background: qlineargradient(x1:0.5, y1:0, x2:0.5, y2:1, 
				stop:0 blue,
				stop:0.25 blue,
				stop: 0.50 #00ffff,
				stop:0.75 blue,
				stop:1 blue);

    border-radius: 15px;
    background-position: top center;
    background-origin: padding;
}

QPushButton {
  
    background: qlineargradient(x1:0, y1:0.5, x2:1, y2:0.5, 
			  stop:0 #464451,
			  stop:0.5  #9C9C9C,
			  stop:1 #464451);
  
     border-style: outset;
     border-width: 1px;
     border-radius: 10px;
     border-color: black;
     font: bold 14px;
     padding: 6px;
     color: white;
}

QPushButton:pressed {

    border-style: inset;
     
    background-color: qlineargradient(x1:0, y1:0.5, x2:1, y2:0.5, 
		    stop:0 #9C9C9C, 
		    stop:0.5  #464451, 
		    stop:1 #9C9C9C);
}