[Desktop Entry]
Type=Application
Categories=Education
Comment[ru]=EasyWork 0.3
Comment=EasyWork 0.3
Encoding=UTF-8
Exec=/usr/bin/Easy_work
GenericName[ru]=Multiformat Training Apparatus
GenericName=Multiformat Training Apparatus
Icon=/usr/share/pixmaps/easyworkgeneral.png
Name[ru]=EasyWork
Name=EasyWork
Path=/usr/bin
StartupNotify=true
Terminal=false
X-KDE-SubstituteUID=false
